<footer class="bg-gray-900 w-full py-32 text-lg">
    <div class="text-white flex flex-row gap-x-20 justify-center">
        <div class="">
            <h1 class="text-xl"><span class="text-xl text-white font-extrabold">Raspa y</span> Gana!</h1>
        </div>
        <div class="">
            <div class="flex flex-row items-center font-semibold">
                <div class="bg-green-600 h-4 w-1 mr-3 font"></div>
                Hecho Por
            </div>
            <div class="ml-4 mt-5">
                <p>Valentino Lopez</p>
                <p>Ramiro Fassetta</p>
            </div>
        </div>
        <div class="">
            <div class="flex flex-row items-center font-semibold">
                <div class="bg-green-600 h-4 w-1 mr-3"></div>
                Contacto
            </div>
            <div class="ml-4 mt-5">
                <p>valentinolopezbruno@gmail.com</p>
                <p>ramiro.fassetta.01@gmail.com</p>
            </div>
        </div>
    </div>
</footer>
