<div class="w-full h-full " style="background: linear-gradient(to bottom, rgba(14, 42, 71, 1) 0%, rgba(14, 42, 71, 1) 25%, #4CAF50 100%);">

    <app-navbar ></app-navbar>
    
    <div class=" w-2/3 m-auto border-l border-r border-gray-500 flex flex-col justify-between " style="background-color: rgba(14, 42, 71, 1);">
        <div class="w-full h-40 bg-green-500 items-center justify-center border-b  border-gray-500">
            <img src="https://www.ole.com.ar/2018/11/10/a_3bCeLiG_1200x630.jpg" alt="" class="w-full object-cover h-full justify-center items-center brightness-75">
        </div>
        <div class="flex items-center justify-between absolute top-40 ml-10 max-w-4xl w-full">
            <div class="rounded-full bg-gray-200 h-40 w-40 flex items-center justify-center">
                <div class="rounded-full h-36 w-36 ">
                    <img src="https://cdn-icons-png.flaticon.com/512/451/451783.png" > <!-- Aca va la imagen del Jugador -->
                </div>
            </div>
            <button class="right-0 mr-5 mt-16 border border-green-600 hover:bg-green-600 rounded-full text-white font-bold p-2 pl-4 pr-4 " (click)="modalAdministrarEquipo()">Administrar Equipo</button>
            
               <!--  ADMINISTRAR EQUIPO MODAL -->

               <div *ngIf="editarEquipo" class="fixed inset-0 flex items-center justify-center z-50">
                <div class="fixed top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 bg-white p-4 rounded shadow-md">
                  <h2  class="text-xl font-semibold">Editar Equipo</h2>
                  <div class="flex">
                    <p>Nombre: </p> <input placeholder="{{equipoSeleccionado.nombre}}">
                  </div>
                  <div class="flex">
                    <p>Localidad: </p> <input placeholder="{{equipoSeleccionado.localidad}}">
                  </div>
                  <div class="flex">
                    <p>Descripción: </p> <input placeholder="{{equipoSeleccionado.descripcion}}">
                  </div>
                  <button (click)="modalAdministrarEquipo()" class="mt-4 bg-blue-500 text-white rounded px-4 py-2">Cerrar</button>
                </div>
              </div>
            <div *ngIf="editarEquipo" class="opacity-25 fixed inset-0 z-40 bg-black"></div>



<!--             <button class="right-0 mr-5 mt-16 border border-red-600 hover:bg-red-600 rounded-full text-white font-bold p-2 pl-4 pr-4 ">Abandonar Equipo</button>
 -->        </div>
        <div class="mt-24 space-y-5 min-h-screen w-full"> 
            <h1 class=" text-center font-bold bg-gradient-to-r from-yellow-200 to-red-600 text-transparent bg-clip-text text-4xl pb-5">{{equipoSeleccionado.nombre}}</h1>
            <h1 class=" text-center font-bold text-3xl text-white mt-0">Informacion del Equipo</h1>
            <div class="ml-10 space-y-5 max-h-fit flex flex-row mt-0 ">
                <div class="h-full  bg-green-600 rounded-md p-5 shadow-2xl w-1/2 mr-5">
                    <button class="right-0 mr-5 mt-16 border border-green-600 hover:bg-green-600 rounded-full text-white font-bold p-2 pl-4 pr-4 " (click)="modalAdministrarJugadores()">Administrar Jugadores</button>
                    <h3 class="font-bold  text-lg uppercase bg-gradient-to-r from-yellow-200 to-red-600 text-transparent bg-clip-text">Jugadores:</h3> <br>
                    <div *ngIf="equipoSeleccionado.jugadores">
                        <div *ngFor="let jugador of equipoSeleccionado.jugadores">  
                            <p class="font-semibold text-white text-lg">{{jugador.nombre}}</p>
                        </div>
                     </div>

                <!--  ADMINISTRAR JUGADORES MODAL -->

               <div *ngIf="editarJugadores" class="fixed inset-0 flex items-center justify-center z-50">
                <div class="fixed top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 bg-white p-4 rounded shadow-md">
                  <h2  class="text-xl font-semibold">Editar Jugadores</h2>
                  <button class="bg-green-500" (click)="agregarJugador()">Nuevo</button>
                  <div *ngIf="equipoSeleccionado.jugadores">
                    <div *ngFor="let jugador of equipoSeleccionado.jugadores" class="flex">  
                        <p class="font-semibold text-lg">{{jugador.nombre}}</p> <button (click)="eliminarJugadores(jugador)" class="bg-red-600">Eliminar</button>
                    </div>
                 </div>
                 <div class="flex" *ngFor="let nuevoJugador of nuevosJugadores; let i = index">
                    <p>Nombre: </p><input [(ngModel)]="nuevosJugadores[i].nombre" placeholder="Nombre">
                    <p>DNI: </p><input [(ngModel)]="nuevosJugadores[i].dni" placeholder="43142432">
                 </div>
                  <button (click)="modalAdministrarJugadores()" class="mt-4 bg-blue-500 text-white rounded px-4 py-2">Cerrar</button>
                  <button *ngIf="nuevosJugadores.length > 0" class="bg-green-500" (click)="agregarJugadores()">Agregar Jugadores</button>
                </div>
              </div>
              <div *ngIf="editarJugadores" class="opacity-25 fixed inset-0 z-40 bg-black"></div>


                    <h3 class="font-bold  text-lg uppercase bg-gradient-to-r from-yellow-200 to-red-600 text-transparent bg-clip-text">Localidad:</h3> <br>
                    <p class="font-semibold text-white text-lg">{{equipoSeleccionado.localidad}}</p>
                </div>
                <div class="h-full bg-green-600 rounded-md p-5 shadow-2xl w-1/2 mr-10" style="margin-top: 0px;">
                    <h3 class="font-bold  text-lg uppercase bg-gradient-to-r from-yellow-200 to-red-600 text-transparent bg-clip-text">Historial:</h3> <br>
                    <p class="font-semibold text-white text-lg">Partidos Jugados: <span class="font-bold text-blue-600"> {{equipoSeleccionado.jugados}} </span></p>
                    <p class="font-semibold text-white text-lg">Partidos Ganados: <span class="font-bold text-green-800">  {{equipoSeleccionado.ganados}} </span></p>
                    <p class="font-semibold text-white text-lg">Partidos Perdidos: <span class="font-bold text-red-700">  {{equipoSeleccionado.perdidos}} </span></p> <br>
                    <p class="font-semibold text-white text-lg">Partidos Empatados: <span class="font-bold text-blue-600"> {{equipoSeleccionado.empatados}} </span></p>
                    <h3 class="font-bold  text-lg uppercase bg-gradient-to-r from-yellow-200 to-red-600 text-transparent bg-clip-text">Jugando Torneo:</h3><br>
                    
                    <p class="font-semibold text-white text-lg">{{calcularTorneo()}}</p> <!--Si esta jugando un torneo, hacer un enlace al torneo que se esta jugando y ver posiciones-->
                   
                </div>


            </div>
            <div class="h-full  bg-green-600 rounded-md p-5 shadow-2xl ml-10 mr-10">
                <h3 class="font-bold  text-lg uppercase bg-gradient-to-r from-yellow-200 to-red-600 text-transparent bg-clip-text">Descripción:</h3><br>
                <p class="font-semibold text-white text-lg">{{equipoSeleccionado.descripcion}}</p>
            </div>
            
        </div>
    </div>
</div>