<header class=" border-b border-gray-600" style="background-color: rgba(12, 38, 66, 1);" >
    <div class=" mx-auto flex justify-between items-center">
        <a href="/">
            <h3 class="text-2xl text-white font-extrabold text-center ml-20">Raspa y<span class="font-normal "> Gana!</span></h3>
        </a>
        <nav class="my-5 text-base md:flex md:items-center md:gap-3 font-bold text-white mr-20">
            <a href="/crear-equipo" class="mr-10 transition duration-300 ease-in-out transform hover:scale-105 focus:outline-none focus:shadow-outline">Crear Equipo</a> <!--Si ya tiene, pasa a ser Mi equipo-->
            <a href="/calendario-partidos" class="mr-10 transition duration-300 ease-in-out transform hover:scale-105 focus:outline-none focus:shadow-outline">Calendario de partidos</a>
            <a href="/profile" class="bg-green-600 py-1 px-5 rounded-sm transition duration-300 ease-in-out transform hover:scale-105 focus:outline-none focus:shadow-outline">Mi Perfil</a>
        </nav>
    </div>
</header>
