<div class="flex min-h-full flex-col mt-40 justify-center px-6 py-12 lg:px-8">
  <div class="sm:mx-auto sm:w-full sm:max-w-sm">
    <img class="mx-auto h-40 w-41" src="../../../assets/img/users.svg" >

    <h2 class="mt-2 text-center text-2xl font-bold leading-9 tracking-tight text-teal-900">Sign in to your account</h2>
  </div>

  <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
    <form  [formGroup]="loginForm"  class="space-y-6" action="#" method="POST">
      <div>
        <label for="username" class="block text-sm font-medium leading-6 text-gray-700">Username</label>
        <div class="mt-2">
          <input  type="text" id="username" formControlName="username" autocomplete="Username" nfrequired class="block w-full rounded-md border-0 py-1.5 text-gray-700 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset sm:text-sm sm:leading-6">
        </div>
        <!-- ALERTS Usuario-->
        <div *ngIf="username.invalid && (username.dirty || username.touched)" class="mt-2 bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
          <div *ngIf="username.errors?.['required']" >
            <span class=" font-bold block sm:inline "> El usuario es requerido.</span>
          </div>
        </div>
      </div>

      <div>
        <div class="flex items-center justify-between">
          <label for="password" class="block text-sm font-medium leading-6 text-gray-700">Password</label>
          <!-- <div class="text-sm">
            <a href="#" class="font-semibold text-indigo-600 hover:text-indigo-500">Olvido su password?</a>
          </div> -->
        </div>
        <div class="mt-2">
          <input type="password" id="password" formControlName="password" autocomplete="current-password" required class="block w-full rounded-md border-0 py-1.5 text-teal-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset sm:text-sm sm:leading-6">
        </div>
        <!-- ALERTS Password-->
       <div *ngIf="password.invalid && (password.dirty || password.touched)" class="mt-2 bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
        <div *ngIf="password.errors?.['required']">
          <span class=" font-bold block sm:inline">Contraseña requerida.</span>
        </div>
      </div>
      </div>
      <div>
        <a href="/home">
          <button type="submit" (click)="onSubmit()" class="flex w-full justify-center rounded-md bg-teal-900 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-teal-800 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-al-900" >Sign in</button>
        </a>
      </div>
    </form>

    <p class="mt-10 text-center text-sm text-gray-500">

      <a href="#" class="font-semibold leading-6 text-indigo-600 hover:text-indigo-500"></a>
    </p>
  </div>
</div>

